* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-one {
    background-color: red;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 20px solid blanchedalmond;
    margin: 20px;

}

.box-two {
    background-color: blue;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 20px solid blanchedalmond;
    margin: 40px;
}